.popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center; 
  /* Оставил как и было изначально
  Пожалуйста обратите внимание что высота экрана в отладчике по умолчанию
  не совпадает с высотой экрана в макете */
}

