.popup__button-save {
  margin-top: 48px;
  min-height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 426px) {
  .popup__button-save {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
