.profile__edit-button {
  margin-left: 18px;
  grid-column: 2;
  grid-row: 1;
  width: 24px;
  min-height: 24px;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 426px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    min-height: 18px;
  }
}
