.header__logo {
  width: 100%;
  max-width: 142px;
  padding-bottom: 41px;
}
@media screen and (max-width: 426px) {
  .header__logo {
    margin-left: 8.4375%;
    max-width: 103.74px;
    padding-bottom: 31.6px;
  }
}
