.popup__button-close {
  position: absolute;
  padding: 0;
  right: -35px;
  top: -35px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 426px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
