.profile__info {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .profile__info {
    margin: 0;
    margin-top: 26px;
    margin-left: 18px;
  }
}
